* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.auth {
  padding: 40px 60px;
}

.auth-logo {
  font-size: 20px;
  font-weight: bold;
}

.auth-image {
  padding: 0;
  width: fill;
}

.auth-image img {
  width: 100%;
  height: 100vh;
}

.auth-input {
  width: auto;
  height: 10px;
  padding: 20px;
}

label {
  font-weight: bold !important;
  font-size: 16px !important;
}

.auth-btn {
  width: auto;
  font-size: 15px;
  padding: 12px;
  font-weight: bold;
}

.auth-message {
  width: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
  margin: 0;
}

.auth-message button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
}

.auth-welcome {
  font-size: 30px;
  font-weight: bold;
}

.overflow-y {
  max-height: 739px;
  overflow-y: scroll;
}

.alert {
  position: absolute;
  top: 4rem;
  right: 3rem;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: rgb(242, 242, 242);
  color: rgb(25, 25, 25);
  padding: 30px;
}

.navbar {
  width: fill !important;
  padding: 20px;
  background-color: rgb(242, 242, 242);
}


@media only screen and (max-width: 600px) {
  .auth-logo {
    font-size: 20px;
    font-weight: bold;
  }

  .auth-image {
    display: none;
  }

  .auth-image img {
    display: none;
  }

  .auth-input {
    width: 100%;
    height: 10px;
    padding: 25px;
  }

  .auth-label {
    font-weight: bold;
    font-size: 16px;
  }

  .auth-btn {
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
  }

  .auth-message {
    width: 100%;
  }

  .auth-welcome {
    font-size: 30px;
    font-weight: bold;
  }
}
