* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.auth {
  padding: 40px 60px;
}

.auth-logo {
  font-size: 20px;
  font-weight: bold;
}

.auth-image {
  padding: 0;
  width: 900px;
}

.auth-image img {
  width: 100%;
  height: 100vh;
}

.auth-input {
  width: 400px;
  height: 10px;
  padding: 22px;
}

.auth-label {
  font-weight: bold;
  font-size: 16px;
}

.auth-btn {
  font-size: 15px;
  padding: 12px;
  font-weight: bold;
}

.auth-message {
  width: 100%;
}

.auth-welcome {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .auth {
    width: 400px;
    padding-top: 40px;
  }

  .auth-logo {
    font-size: 20px;
    font-weight: bold;
  }

  .auth-image {
    display: none;
  }

  .auth-image img {
    display: none;
  }

  .auth-input {
    width: auto;
    height: 10px;
    padding: 25px;
  }

  .auth-label {
    font-weight: bold;
    font-size: 16px;
  }

  .auth-btn {
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
  }

  .auth-message {
    width: 100%;
  }

  .auth-welcome {
    font-size: 30px;
    font-weight: bold;
  }
}
