{% extends 'base.html' %} 

{% block content %}

<div>
  {% for message in messages %} {% if message.tags == "error" %}
  <span class="alert auth-message alert-danger rounded text-center">
    <span><i class="fa fa-exclamation-triangle"></i></span>
    <span>{{ message }}</span>
  </span>
  {% else %}
  <span class="alert auth-message alert-success rounded text-center">
    <span><i class="fa fa-regular fa-circle-check"></i></span>
    <span>{{ message }}</span>
  </span>
  {% endif %} {% endfor %}
    <div class="d-flex">
      <div class="sidebar">
        <a class="text-decoration-none h5" href="{% url "dashboard" %}">Dashboard</a>
      </div>
      <main class="w-100">
        <nav class="navbar navbar-light">
            <div>
              <a class="text-black" href="{% url "logout" %}"> Logout <a>
            </div>
        </nav>
        <div class="p-5"> 
          <span class="d-flex h5"> Welcome {{ user.username }}</span> 
        </div>
      </main>
    </div>
</div>

{% endblock content %}
