{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-5 p-5 pb-0 d-flex flex-column gap-5">
    <div class="auth-logo">
      <i class="fa-solid fa-globe"></i>
      Manucho
    </div>
    <div
      class="d-flex flex-column justify-content-center gap-5 p-4"
    >
      <span class="auth-welcome">Welcome back.</span>
      {% for message in messages %} {% if message.tags == "error" %}
      <span class="alert auth-message alert-danger rounded text-center">
        <span><i class="fa fa-exclamation-triangle"></i></span>
        <span>{{ message }}</span>
      </span>
      {% else %}
      <span class="alert auth-message alert-success rounded text-center">
        <span><i class="fa fa-regular fa-circle-check"></i></span>
        <span> {{ message}} </span>
      </span>
      {% endif %} {% endfor %}

      <form method="POST" class="d-flex justity-content-center flex-column gap-3">
        {% csrf_token %}
        {{ form }}
        <div class="d-flex justify-content-between">
          <span>
            <input type="checkbox" name="remember_me" />
            Remember me
          </span>
          <a class="text-black" href="#">Forgot Password</a>
        </div>
          <button
            class="auth-btn btn border rounded btn-dark text-center"
            type="submit"
          >
            Sign In
          </button>
      </form>
      {% comment %} <button class="auth-btn btn border rounded btn-light text-center w-100">
        Sign In with Google
      </button> {% endcomment %}
      <span>
        Don't have an account? 
        <a class="text-dark" href="{% url "register" %}">Sign Up</a>
     </span>
    </div>
  </div>
  <div class="auth-image col-md-7">
    <img src="{% static 'images/login.jpg' %}" />
  </div>
</div>

{% endblock content %}
