{% extends 'base.html' %} {% load static %} {% block content %}
<div class="d-flex justify-content-between">
  <div class="p-5 pb-0 overflow-y">
    <span class="auth-logo">Manucho</span>
    <div
      class="auth d-flex flex-column align-items-center justify-content-center gap-3"
    >
      <span class="auth-welcome mb-1"
        >Welcome back.</span
      >
      {% for message in messages %} {% if message.tags == "error" %}
      <span class="alert auth-message alert-danger rounded text-center">
        <span><i class="fa fa-exclamation-triangle"></i></span>
          <span>{{ message }}</span>
        <button type="button" data-bs-dismiss="alert" aria-label="Close">x</button>
      </span>
      {% else %}
      <span class="alert auth-message alert-success rounded text-center">
        <i class="fa fa-regular fa-circle-check"></i>
          {{ message }}
        <button type="button" data-bs-dismiss="alert" aria-label="Close">x</button>
      </span>
      {% endif %} {% endfor %}

      <form method="POST" class="d-flex flex-column gap-2">
        {% csrf_token %}

        {{ form }}
        <button
          class="auth-btn btn border rounded btn-dark text-center"
          type="submit"
        >
          Sign Up
        </button>
      </form>
      <span class="text-dark mt-5">
        Already have an account ? 
        <a class="text-dark" href="{% url "login" %}">Sign In</a>
      </span>
    </div>
  </div>
  <div class="auth-image">
    <img src="{% static 'images/login.jpg' %}" />
  </div>
</div>

{% endblock content %}
